*.js                text eol=lf
*.ts                text eol=lf
*.jsx               text eol=lf
*.tsx               text eol=lf
*.css               text eol=lf
*.less              text eol=lf
*.html              text eol=lf
*.ejs               text eol=lf
*.md                text eol=lf
*.json              text eol=lf 
*.yml               text eol=lf
*.yaml              text eol=lf
*.lock              text eol=lf
*.properties        text eol=lf
*.gitattributes     text eol=lf
*.gitignore         text eol=lf
*.babelrc           text eol=lf
*.prettierignore    text eol=lf
*.stylelintignore   text eol=lf
*.eslintignore      text eol=lf
*.npmrc             text eol=lf